@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --browny: #D1884F;
    --dark-blue: #008AAA;
    --light-blue: #3BBADB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:focus {
    text-decoration: none;
    color: var(--browny);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    display: flex;
    align-items: center;
}

header nav a span {
    /* background-color: #D1884F; */
    height: 100%;
    margin-right: 10px;
}

.my-info {
    text-align: center;
    padding: 50px 0;
}

.my-info h5 {
    font-size: 1rem;
    font-weight: 300;
}

.my-info img {
    width: 300px;
    border-bottom-left-radius: 50%;
    box-shadow: -35px 21px 6px -23px rgba(128, 128, 128, 0.76);
    -webkit-box-shadow: -35px 21px 6px -23px rgba(128, 128, 128, 0.76);
    -moz-box-shadow: -35px 21px 6px -23px rgba(128, 128, 128, 0.76);
}

.my-info h1 {
    margin: 30px 0;
    font-size: 1.6rem;
    font-weight: 500;
}

#see-more {
    color: var(--light-blue);
}

.personal-name {
    color: var(--browny);
}

.my-info article {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 50px;
    color: var(--dark-blue);
}

.my-info .hire-me {
        -moz-box-shadow: -5px 3px 4px -2px #3bbbdb;
        -webkit-box-shadow: -5px 3px 4px -2px #3bbbdb;
        box-shadow: -5px 3px 4px -2px #3bbbdb;
        background-color: #3bbbdb;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #3bbbdb;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Courier New;
        font-size: 17px;
        font-weight: bold;
        padding: 12px 30px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3bbbdb;
    }

    .hire-me:hover {
        background-color: #3bbbdb;
    }

    .hire-me:active {
        position: relative;
        top: 1px;
    }

@media screen and (min-width: 375px) {
    body {
        margin: 0 10px;
    }
}